[submodule "src/RuuviCollector"]
	path = src/RuuviCollector
	url = https://github.com/Scrin/RuuviCollector.git
[submodule "src/EnergyPulseReader"]
	path = src/EnergyPulseReader
	url = https://github.com/galigula2/EnergyPulseReader.git
[submodule "src/mqtt-datasource"]
	path = src/mqtt-datasource
	url = https://github.com/grafana/mqtt-datasource.git
[submodule "src/ruuvi-mqtt-data-publisher"]
	path = src/ruuvi-mqtt-data-publisher
	url = https://github.com/troinine/ruuvi-mqtt-data-publisher.git
