# Don't commit instance data folders
influxdb/data
grafana/data

# Don't commit files with actual instance data / secrets
**/.env
EnergyPulseReader/energypulsereader.ini
RuuviCollector/ruuvi-collector.properties
RuuviCollector/ruuvi-names.properties