
# Loads default set of integrations. Do not remove.
default_config:

# Text to speech
tts:
  - platform: google_translate

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml


# Power reading through MQTT
mqtt:
  sensor: !include_dir_merge_list mqtt_sensors/
    

sensor:

# Riemann Sum Integral of the energy consumption from power reading
# https://www.home-assistant.io/integrations/integration
  - platform: integration
    source: sensor.HousePowerConsumption
    name: HouseEnergyConsumption
    unit_prefix: k
    round: 2 

# Discord notification channel
notify:
  - platform: group
    name: discord_notify_alert_group
    services:
      - service: !secret discord_app_name_lowercase
        data:
          target: [ !secret discord_alert_channel ]



template:
  - binary_sensor:
      - name: "SaunaValmis"
        state: "{{ states('sensor.ruuvitag_sauna_temperature') | float(default=0.0) > 40.0 }}"
      - name: "JaakaappiLammin"
        state: "{{ states('sensor.ruuvitag_jaakaappi_temperature') | float(default=0.0) > 10.0 }}"
      - name: "PakastinLammin"
        state: "{{ states('sensor.ruuvitag_pakastin_temperature') | float(default=0.0) > -15.0 }}"

  
alert:
  saunavalmis:
    name: SaunaValmis
    entity_id: binary_sensor.saunavalmis
    repeat: 120 
    can_acknowledge: false
    skip_first: false
    message: "Sauna on valmis!"
    notifiers: discord_notify_alert_group
  jaakaappilammin:
    name: JaakaappiLammin
    entity_id: binary_sensor.jaakaappilammin
    repeat: 120 
    can_acknowledge: false
    skip_first: false
    message: "J채채kaappi on l채mmin!"
    notifiers: discord_notify_alert_group
  pakastinlammin:
    name: PakastinLammin
    entity_id: binary_sensor.pakastinlammin
    repeat: 120 
    can_acknowledge: false
    skip_first: false
    message: "Pakastin on l채mmin!"
    notifiers: discord_notify_alert_group
