# TODO: Make this into a configfile template without secrets

# Pulse reader settings
[PulseReader]
BCM_CHANNEL = 24
RECORDING_INTERVAL_SECONDS = 5.0
PULSES_PER_KWH = 10000

# 3ms seems to be just working for me, 2ms was too little, more in theory is a bit safer but loses pulses on higher consuption
# 5ms bounce would mean maximum of 200 pulses per second -~> 71 kW consuption, it should never get that high in the house
BOUNCE_MS = 5               

# Measurement settings
[Measurements]
MEAS_ACCUMULATED_ENERGY_REPORTING_INTERVAL_MINUTES = 15

# InfluxDB settings for long time storage
[InfluxDB]
URL=<Where InfluxDB can be found>
ORG=<What Organization to write to>
BUCKET=<What bucket to write to>
TOKEN=<Token that allows writing to Org/Bucket above>